<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>OnlineContent</servlet-name>
		<servlet-class>hu.fnf.devel.onlinecontent.controller.OnlineContentServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Receiver</servlet-name>
		<servlet-class>hu.fnf.devel.onlinecontent.controller.Receiver</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Serve</servlet-name>
		<servlet-class>hu.fnf.devel.onlinecontent.controller.Serve</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>OnlineContentAdmin</servlet-name>
		<servlet-class>hu.fnf.devel.onlinecontent.controller.OnlineContentAdminServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>admin</servlet-name>
		<jsp-file>/admin.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>Receiver</servlet-name>
		<url-pattern>/receiver</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Serve</servlet-name>
		<url-pattern>/static/serve</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OnlineContentAdmin</servlet-name>
		<url-pattern>/admin/servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OnlineContentAdmin</servlet-name>
		<url-pattern>/admin/cron/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>admin</servlet-name>
		<url-pattern>/admin/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OnlineContent</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>admin</web-resource-name>
			<url-pattern>/admin*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
</web-app>
